.categoria {
  padding: 2rem;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #9333ea;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

