.home {
  text-align: center;
  padding: 4rem 2rem;
  /* background: linear-gradient(to right, #0f172a, #1e293b); */
  border-radius: 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #facc15;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #94a3b8;
}
