.paymentForm {
  background: #1e1e1e;
  padding: 1.5rem;
  border-radius: 8px;
  color: #eee;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
}

.paymentForm h2 {
  margin-bottom: 1rem;
  color: #f59e0b;
}

.paymentForm select {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #444;
  border-radius: 6px;
  background: #111;
  color: #fff;
  font-size: 1rem;
}

.cardInputs, .mobileInput {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.row input {
  flex: 1;
}

input {
  padding: 0.6rem;
  background: #111;
  color: #fff;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

.btnPago {
  margin-top: 1.5rem;
  padding: 0.75rem;
  background-color: #f59e0b;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s ease;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #f97316;
}
