.processing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #111;
  color: #eee;
  text-align: center;

  overflow: hidden;
}


.spinner {
  width: 64px;
  height: 64px;
  border: 6px solid rgba(255, 204, 0, 0.3);
  border-top: 6px solid #f59e0b;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1.5rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.processing p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #f59e0b;
}
